{{define "title"}}
{{with .Category}}
{{.}} 
{{else}}
{{if eq .URL "/user/liked"}}
Liked Posts 
{{else}}
{{if eq .URL "/user/posts"}}
My Posts 
{{else}}
Home 
{{end}}
{{end}}
{{end}}
{{end}}
{{define "main"}}

{{$isAuth := .IsAuthenticated}}
{{$url := .URL}}
<!-- <h2 class="headerPosts">Posts</h2> -->
<div class="posts-container">
{{with .Posts}}
    {{range .}}
        <div class="post-card">
            <div class="card-header">
                <div class="user-data">
                    <div class="post-card-NameDate">
                        <p class="post-card-Username">By {{.UserName}}</p>
                        <span class="post-card-Date"><time datetime=""></time>{{humanDate .Created }}</span>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="title">
                    <a href="/post/{{.PostID}}"> {{.Title}} </a>
                </div>
                <div class="desc">
                    {{.Content}}
                </div>
            </div>
            <div class="card-footer">
                <div class="category-tags-wrapper">
                    {{range $category := .Categories}}
                        <p class="category-tag">{{$category}}</p>
                    {{end}}
                </div>
                    <form action="/post/reaction" method="POST">
                        <input type="hidden" name="postID" value="{{.PostID}}">
                        <input type="hidden" name="url" value="/">
                        <div class="postReaction">
                            <div class="reactionContainer">
                                
                                <button class="reactionButton" type="submit" name="reaction" value="true">
                                    <img src="/static/img/like.png" class="reactionImg">
                                   {{if eq .IsLiked 1}}
                                    <p class="reactionOn">{{.Like}}</p>
                                    {{else}}
                                    <p class="reaction">{{.Like}}</p>
                                    {{end}}
                                </button>
                            </div>
                            <div class="reactionContainer">
                                <button class="reactionButton" type="submit" name="reaction" value="false">
                                    <img src="/static/img/dislike.png" class="reactionImg">
                                    {{if eq .IsLiked -1}}
                                    <p class="reactionOn">{{.Dislike}}</p>
                                    {{else}}
                                    <p class="reaction">{{.Dislike}}</p>
                                    {{end}}
                                </button>
                            </div>
                        </div>   
                    </form>
            </div>
        </div>
    {{end}}
{{else}}
<div>Nothing here yet! Thats better...</div>
{{end}}
</div>

<div class="pagination">
    {{ $currentPage := .CurrentPage }}
    {{ $limit := .Limit }}
    {{ $category := .Category}}
    {{ if gt $currentPage 1 }}
        {{with $category}}
                <a href="?category={{toLower $category}}&page={{sub $currentPage 1}}&limit={{$limit}}" class="previous">Previous</a>
                {{else}}
                <a href="?page={{sub $currentPage 1}}&limit={{$limit}}" class="previous">Previous</a>
        {{ end }}
    {{ end }}
    {{ range $i := sequence 1 .NumberOfPage }}
        {{ if eq $i $currentPage }}
            <span>{{$i}}</span>
        {{ else }}
            {{with $category}}
                <a href="?category={{toLower $category}}&page={{$i}}&limit={{$limit}}">{{$i}}</a>
                {{else}}
                <a href="?page={{$i}}&limit={{$limit}}">{{$i}}</a>
            {{end}}
        {{end}}
    {{ end }}
    {{ if lt $currentPage .NumberOfPage }}
        {{with $category}}
            <a href="?category={{toLower $category}}&page={{add $currentPage 1}}&limit={{$limit}}" class="next">Next</a>
            {{else}}
            <a href="?page={{add $currentPage 1}}&limit={{$limit}}" class="next">Next</a>
        {{end}}
    {{ end }}
    <input type="hidden" id="category" name="category" value="{{$category}}">
        {{with $category}}
        <form action="/?category={{toLower $category}}&page=1">
        <input type="hidden" id="category" name="category" value="{{$category}}">
        {{else}}
        <form action="{{$url}}">

        {{end}}
        <select id="limit" name="limit">
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5" selected>5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="all">all</option>
        </select>
        <input type="submit" value="ok">
    </form>
</div>
{{end}}
