{{define "title"}}Home {{end}}
{{define "main"}}


<h2>Posts</h2>
<div class="posts-container">
    {{range .Posts}}
    <div class="post-card">
        <div class="card-header">
            <div class="user-data">
                <div>
                    <p>By {{.UserName}}</p>
                    <span><time datetime=""></time>{{humanDate .Created }}</span>
                </div>
            </div>
        </div>
            <div class="content">
                <div class="title">
                    <a href="post/{{.UserID}}"> {{.Title}} </a>
                </div>
                <div class="desc">
                    {{.Content}}
                </div>
            </div>
            <div class="card-footer">
                <div class="category-tags-wrapper">
                    {{range $category := .Categories}}
                    <div class="category-tag">{{$category}}</div>
                    {{end}}
                </div>
                <div>
                    <span>Likes: {{.Like}} </span> <span>
                        Dislikes: {{.Dislike}}
                    </span> 
                </div>
            </div>
        </div>
    {{end}}
</div>

<div class="pagination">
    {{ $currentPage := .CurrentPage }}
    {{ $category := .Category}}
    {{ if gt $currentPage 1 }}
        {{with $category}}
                <a href="?category={{toLower $category}}&page={{sub $currentPage 1}}&limit=5">Previous</a>
                {{else}}
                <a href="?page={{sub $currentPage 1}}&limit=5">Previous</a>
        {{ end }}
    {{ end }}
    {{ range $i := sequence 1 .NumberOfPage }}
        {{ if eq $i $currentPage }}
            <span>{{$i}}</span>
        {{ else }}
            {{with $category}}
                <a href="?category={{toLower $category}}&page={{$i}}&limit=5">{{$i}}</a>
                {{else}}
                <a href="?page={{$i}}&limit=5">{{$i}}</a>
            {{end}}
        {{end}}
    {{ end }}
    {{ if lt $currentPage .NumberOfPage }}
        {{with $category}}
            <a href="?category={{toLower $category}}&page={{add $currentPage 1}}&limit=5">Next</a>
            {{else}}
            <a href="/?page={{add $currentPage 1}}&limit=5">Next</a>
        {{end}}
    {{ end }}
</div>
{{end}}
