{{define "title"}}Snippet #{{end}}

{{define "main"}}
<div class='snippet'>
    <div class='metadata'>
        <strong>{{.Post.Title}}</strong>
        <span>#{{.Post.PostID}}</span>
    </div>
    <pre><code>{{.Post.Content}}</code></pre>
    <div class='post-footer'>
        <div class="postCategory">
            {{range $category := .Post.Categories}}
            <p class="categoryFooter">{{$category}}</p>
            {{end}}
        </div>
        <div class="postReaction">
            <div class="reactionContainer">
                <button class="reactionButton">
                    <img src="/static/img/like.png" class="reactionImg">
                    <p class="reaction">0</p>
                </button>
                
            </div>
            <div class="reactionContainer">
                <button class="reactionButton">
                    <img src="/static/img/dislike.png" class="reactionImg">
                    <p class="reaction">0</p>
                </button>
                
            </div>
        </div>   
</div>
{{end}}