{{define "title"}}Snippet #{{end}}

{{define "main"}}
<div class='snippet'>
    <div class='metadata'>
        <strong>{{.Post.Title}}</strong>
        <span>#{{.Post.PostID}}</span>
    </div>
    <pre><code>{{.Post.Content}}</code></pre>
    <div class='post-footer'>
        <div class="postCategory">
            {{range $category := .Post.Categories}}
            <p class="categoryFooter">{{$category}}</p>
            {{end}}
        </div>
        <div class="postReaction">
            <p class="reaction">Like 0</p>
            <p class="reaction">Dislike 0</p>
        </div>   
</div>
{{end}}