{{define "title"}}Snippet #{{end}}

{{define "main"}}
<div class='snippet'>
    <div class='metadata'>
    <strong>{{.Post.Title}}</strong>
    <span>#{{.Post.PostID}}</span>
    </div>
    <pre><code>{{.Post.Content}}</code></pre>
    <div class='post-footer'>
            {{range $category := .Post.Categories}}
            <div class="postCategory">{{$category}}</div>
            {{end}}
        </div>
        <div class="postReactions">
            <span class="reaction">Like 0</span>
            <span class="reaction">Dislike 0</span>
        </div>
    </div>

   
</div>
{{end}}