
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    background-color: #F1F3F6;
    color: #34495E;
    overflow-y: scroll;
}

header,  footer {
    padding: 2px calc((80% - 800px) / 2) 0;
}

main {
    margin-top: 0px;
    margin-bottom: 54px;
    min-height: calc(100vh - 340px);
    padding: 0 50px;
    overflow: auto;
}

h1 a {
    font-size: 60px;
    font-weight: bold;
    background-image: url("/static/img/logo.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    height: 36px;
    padding-left: 50px;
    position: relative;
   
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;

}

h1 a:hover {
    text-decoration: none;
    color: #34495E;
}

h2 {
    font-size: 22px;
    margin-bottom: 36px;
    position: relative;
    top: 0px;
}

a {
    color: #62CB31;
    text-decoration: none;
}

a:hover {
    color: #4EB722;
    text-decoration: underline;
}

textarea, input:not([type="submit"]) {
    font-size: 18px;
    font-family: "Ubuntu Mono", monospace;
}




header {
    background-image: -webkit-linear-gradient(left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
    background-image: -moz-linear-gradient(left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
    background-image: -ms-linear-gradient(left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
    background-image: linear-gradient(to right, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
    background-size: 100% 6px;
    background-repeat: no-repeat;
    border-bottom: 1px solid #E4E5E7;
    overflow: auto;
    padding-top: 33px;
    padding-bottom: 27px;
    text-align: center;
}

header a {
    color: #34495E;
    text-decoration: none;
}

a.button, input[type="submit"] {
    background-color: #62CB31;
    border-radius: 3px;
    color: #FFFFFF;
    padding: 1px 10px;
    border: none;
    display: inline-block;
    margin-top: 18px;
    font-weight: 500;
}

.Filter{
    background-color: #34495E;
    margin: 0;
    font-weight: 500;   
}

a.button:hover, input[type="submit"]:hover {
    background-color: #4EB722;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}

form div {
    margin-bottom: 10px;
}


form input[type="checkbox"] {
    margin-left: 18px;
}

form input[type="text"], form input[type="password"], form input[type="email"] {
    padding: 0.75em 18px;
    width: 100%;
}

form input[type=text], form input[type="password"], form input[type="email"], textarea {
    color: #6A6C6F;
    background: #FFFFFF;
    border: 1px solid #E4E5E7;
    border-radius: 3px;
}

form label {
    display: inline-block;
    margin-bottom: 9px;
}

.error {
    color: #C0392B;
    font-weight: bold;
    display: block;
}

.error + textarea, .error + input {
    border-color: #C0392B !important;
    border-width: 2px !important;
}

textarea {
    padding: 18px;
    width: 100%;
    height: 266px;
}

button {
    background: none;
    padding: 0;
    border: none;
    color: #62CB31;
    text-decoration: none;
}

button:hover {
    color: #4EB722;
    text-decoration: underline;
    cursor: pointer;
}

.snippet {
    background-color: #FFFFFF;
    border: 1px solid #E4E5E7;
    border-radius: 3px;
}

.snippet .snippetText {
    padding: 18px;
    border-top: 1px solid #E4E5E7;
    border-bottom: 1px solid #E4E5E7;
}

.snippet .metadata {
    background-color: #F7F9FA;
    color: #6A6C6F;
    padding: 0.75em 18px;
    overflow: auto;
}

.snippet .metadata span {
    float: right;
}

.snippet .metadata strong {
    color: #34495E;
}

.snippet .metadata time {
    display: inline-block;
}

.snippet .metadata time:first-child {
    float: left;
}

.snippet .metadata time:last-child {
    float: right;
}

div.flash {
    color: #FFFFFF;
    font-weight: bold;
    background-color: #34495E;
    padding: 18px;
    margin-bottom: 36px;
    text-align: center;
}

div.error {
    color: #FFFFFF;
    background-color: #C0392B;
    padding: 18px;
    margin-bottom: 36px;
    font-weight: bold;
    text-align: center;
}

table {
    background: white;
    border: 1px solid #E4E5E7;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 9px 18px;
}

th:last-child, td:last-child {
    text-align: right;
    color: #6A6C6F;
}

tr {
    border-bottom: 1px solid #E4E5E7;
}

tr:nth-child(2n) {
    background-color: #F7F9FA;
}

footer {
    border-top: 1px solid #E4E5E7;
    padding-top: 17px;
    padding-bottom: 15px;
    background: #F7F9FA;
    height: 60px;
    color: #6A6C6F;
    text-align: center;
}

.body {
    display: flex;
    margin-top: 3%;
    margin-bottom: 3%;
}

.middle{
    margin-left: 5%;
    margin-right: 5%;
    width: 50%;
}

.left{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.right{
    width: 20%;
}

.menu{
    list-style-type: none;
}

.menu li{
    margin-bottom: 5px;
}


.posts-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 20px;
    overflow-y: auto;
    height: 100%;
}

.post-card{
    box-shadow: rgba(0.24, 0.24, 0.24, 0.24) 5px 5px 5px;
    padding: 30px;
    border-radius: 10px;
    border-width: 3px;
    border-color: #62CB31;
    border-style: solid;
    padding-top: 15px;
}

.post-card .card-header{

    align-items: center;
    margin-bottom: 5px;
}

.post-card .card-header img{
    border-radius: 999999px;
    width: 50px;
    height: 50px;
}

.post-card .card-header .user-data{

    gap: 12px;
}

.post-card .card-header .icon {
    color: #34495E;
}

.post-card .content{
    margin-bottom: 25px;
}

.post-card .content .title {
    margin-bottom: 20px;
    font-weight: 700;
}
.post-card .content .desc {
    font-style: italic;
}

.post-card .card-footer{
    display: flex;
    justify-content: space-between;
}

.post-card .card-footer{
    display: flex;
    align-items: center;
    gap: 10px;
}

.category-tags-wrapper{
    display: flex;
    gap: 10px;
}

.category-tag{
    padding: 4px 7px;
    border-radius: 5px;
    background-color: #e0e0e0;
    color: #7a7a7a;
    font-size: 13px;
}
.category{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
}

.category-label{
    margin-bottom: 5px;
}

.postCategory{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;


}

.postReaction{
    display:flex;
    text-align: center;
    font-size: 13px;
    gap: 30px;
}
.reaction{
    float: right;
}

.post-footer{
    padding: 0.75em 18px;
    display: flex;
    justify-content: space-between;
}

.categoryFooter{
    margin-top: 0;
    padding-top: 0;
    padding: 4px 7px;
    border-radius: 5px;
    background-color: #e0e0e0;
    color: #7a7a7a;
    font-size: 13px;
}

.reactionImg{
    height: 23px;
    width: 23px;
    margin-right: 10px;
}

.reactionButton{
    color:#34495E;
}

.posts-container{
    overflow-y: auto;
    height: 58vh;
    scrollbar-width: none;
}

.post-card-Username{
    font-size: 12px;
    color: #7a7a7a;
}

.post-card-Date{    
    font-size: 12px;
    color: #7a7a7a;
}
.post-card-NameDate{
    display: flex;
    justify-content: space-between;
}

.chosenCategory{
    color: #34495E;
    text-decoration: underline;
}

.next{
    margin-left: 8px;
}

.previous{
    margin-right: 8px;
}

.postTitle{
    color: #62CB31;
}

.new-comment{
    margin-top: 30px;
}
.comment-submit{
    margin-top: 0px !important;
    margin-left: 10px;
}

.comment-form{
    display: flex;
}

.comment-header{
    padding-left: 10px;
    margin-bottom: 10px;
}

.comment{
    background-color: #FFFFFF;
    border: 1px solid #E4E5E7;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
}

.comment-body{

}

.comment-metadata{
    color: #6A6C6F;
    
}

.comment-metadata span{
    font-size: 13px;
}

.comment-container .postReaction{
    align-items: center;
    padding-right: 18px;
}

.comment-left{
    padding: 15px;

}

.commenth2{
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 10px;
}

